<nav class="navbar navbar-expand-lg sortir-navbar-light">
 <div class="container">
     <a href="{{ path('main_home') }}" class="navbar-brand pe-4">
         <img src="" alt="" class="d-inline-block align-bottom">
         &nbsp; Eni Sortir
     </a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigateur" aria-controls="navigateur" aria-expanded="false" aria-label="Navigateur">
         <span class="navbar-toggler-icon"></span>
     </button>

     <div class="border-start border-dark ps-3 collapse navbar-collapse" id="navigateur">
         <ul class="navbar-nav ml-auto">
             <li class="nav-item">
                 <a class="nav-link"
                    href="">
                     Accueil
                 </a>
             </li>
             <li class="nav-item ps-3">
                 <a class="nav-link"
                    href="">
                     Les Sorties
                 </a>
             </li>
         </ul>
     </div>
 </div>
</nav>
