{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <div class="row">
    <div class="col-6">
    <p>
        Si un compte correspondant à cette adresse e-mail existe, alors un email qui contient un lien que vous pouvez
        utiliser pour réinitialiser votre mot de passe vient juste d'être envoyé.

        Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas d'e-mail, regardez votre dossier de spams ou <a href="{{ path('app_forgot_password_request') }}">recommencez</a>.</p>
    </div>
    </div>
{% endblock %}
