.sortir-navbar-light {
    background-color: #9DAAF2;
    color: black;
    font-weight: 700;
}

.sortir-navbar-light a {
    color: #000000;
}

.out-container {
    display: flex;
    flex-direction: column;
}

.out-ln1 { margin-top: 10px; }

.out-ln1-bl1 {
    float: right;
    font-weight: 500;
}

.out-ln2 { margin-top: 10px; }

.out-ln2 h5 { margin: 15px 0; }

.out_ln2 {
    display: flex;
    flex-direction: row;
}

.out_ln2-bl1 {width: 40%; }

.out_ln2-bl2 {
    width: 40%;
    margin: auto;
    padding: 100px ;
}

.out_ln2-bl3 {
    width: 20%;
    margin: auto;
    text-align: center;
}

.out_ln2-bl3 button {
    width: 150px;
    height: 60px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 500;
}

th, td {
    border: 1px solid;
    width: 165px;
}

.out-ln3 { margin-top: 10px; }

.out-ln4 { margin-top: 25px; }

.out-ln4-bl1 button {
    width: 150px;
    height: 60px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 500;
}
