{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mon profil</h1>
    {{ form_start(userForm, {attr: {novalidate: 'novalidate'}}) }}
    {{ form_widget(userForm) }}
    <button type="submit">Enregistrer</button>
    <button type="reset">Annuler</button>
    {{ form_end(userForm) }}
<div class="mt-3 text-center">
    <a href="{{ path('app_user', {id: app.user.id}) }}">Voir mon profil</a>
</div>

{% endblock %}

{% block title %}

{% endblock %}

