{% extends 'base.html.twig' %}

{% block body %}
<div class="col-6 m-auto my-5">
    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}
    {{ form_end(sortieForm) }}
</div>
{% endblock %}

{% block title %}

{% endblock %}

