{% extends 'base.html.twig' %}

{% block title %}out{% endblock %}

{% block body %}

    <div class="out-container">

        <div class="out-ln1">
            <div class="out-ln1-bl1">
                <div>Date du jour : {{ "now" | date("d/m/Y") }}</div>
                <div>Participant : {{ app.user.userIdentifier }} </div>
            </div>
        </div>

        <h5>Filtrer les sorties</h5>

        <div class="out-ln2">
            <div class="out-ln2-bl1">
                <div class="out-ln2_bl1">
                    <label for="id-campus">Campus</label>
                    <select name="Campus" id="id-campus">
                        <option value="choix1">Choix1</option>
                        <option value="choix2">Choix2</option>
                        <option value="choix3">Choix3</option>
                        <option value="choix4">Choix4</option>
                    </select>
                </div>
                <div class="out-ln2_bl1">
                    <label for="id-search">Le nom de la sortie contient : &nbsp;</label>
                    <input type="text" id="id-search">
                </div>
                <div class="out-ln2_bl1">
                    <label for="id-search_Start_Date">Entre&nbsp;&nbsp;&nbsp;</label>
                    <input type="date" id="id-search_Start_Date">
                    <label for="id-search_End_Date">&nbsp;&nbsp;&nbsp;et&nbsp;&nbsp;&nbsp;</label>
                    <input type="date" id="id-search_End_Date">
                </div>
            </div>
            <div class="out-ln2-bl2">

                <div class="out-ln2_bl2">
                    <input type="checkbox" id="id-chk_Org" name>
                    <label for="id-chk_Org">Sorties dont je suis l'organisateur/trice</label>

                </div>
                <div class="out-ln2_bl2">
                    <input type="checkbox" id="id-chk_Sub">
                    <label for="id-chk_Org">Sorties auxquelles je suis inscrit/e</label>

                </div>
                <div class="out-ln2_bl2">
                    <input type="checkbox" id="id-chk_NotSub">
                    <label for="id-chk_Org">Sorties auxquelles je ne suis pas inscrit/e</label>

                </div>
                <div class="out-ln2_bl2">
                    <input type="checkbox" id="id-chk_End">
                    <label for="id-chk_Org">Sorties passées</label>

                </div>
            </div>
            <div class="out-ln2-bl3">
                <button>Rechercher</button>
            </div>

        </div>

        <div class="out-ln3">
            <table>
                <thead>
                    <tr>
                        <th>Nom de la sortie</th>
                        <th>Date de la sortie</th>
                        <th>Clôture</th>
                        <th>Inscrits/Places</th>
                        <th>Etat</th>
                        <th>Inscrit</th>
                        <th>Organisateur</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in 0..10 %}
                        <tr>
                            <td>Philo</td>
                            <td>19/07/2018 23:45</td>
                            <td>19/07/2018</td>
                            <td>8/8</td>
                            <td>En cours</td>
                            <td>X</td>
                            <td>Spinoz A.</td>
                            <td>Afficher</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="out-ln4">
            <div class="out-ln4-bl1">
                <button>Créer une sortie</button>
            </div>
        </div>

    </div>



<div class="example-wrapper">

</div>
{% endblock %}
